html {
  background: #697fa4 url('/images/bg-gradient.jpg') repeat-x left top;
} 

body {
  margin: 0;
  font-family: "Lucida Sans Unicode", Helvetica, sans-serif;
  font-size: 0.75em;
  height: 100%;
  padding: 0px 20px;
}

a {
  text-decoration: none;
  background-color: #FFF;
  color: blue;
  /* color: #2F1454; */
}

h1, h2 {
  font-family: "Georgia", "Times New Roman", serif;
  margin: 0px;
  padding: 5px 0px;
  color: #2F1454;
  text-shadow: 0.1em 0.1em #e8e8e2;
}

h1 a, h2 a, .comments a {
  color: #2F1454;
}

header {
  padding: 15px 25px;
  background: url('/images/diagonal.png') repeat-x;
}

label {
  font-weight: bold;
}

#sidebar {
  width: 235px;
  float: left;
  padding: 0px 25px 0px 0px;
  background-color: #FFF;
}

#navigation {
  margin: 0px;
  padding: 5px 25px;
  list-style-type: lower-alpha;
}

#about {
  padding-left: 20px;
  list-style: lower-roman outside;
}

#container {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #FFF;
  overflow: auto;
  z-index: -1;
  padding-bottom: 50px;
}

#main {
  float: left;
  width: 650px;
  padding: 0px 25px;
}

div.content {
  width: 650px;
  padding: 0px 0px 10px 0px;
  height: 100%;
  margin-bottom: 20px;
  position: relative;
}

span.post_date {
  font-size: 0.75em;
  color: #484848;
}

h2.post_title, #sidebar h2 {
  border-top: 1px dotted #000;
  border-bottom: 1px dotted #000;
}

#post_title, #post_body, #post_label {
  width: 400px;
  font-family: "lucida sans unicode", Helvetica, Arial, sans-serif;
}

ul.tag {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

.tag li {
  display: inline-block;
  padding-bottom: 5px;
}

.tag a {
  background-color: black;
  color: white;
  padding: 0px 5px;
  margin: 2px 0px;
}

.tag a:hover {
  background-color: red;
  color: white;
}

#post_list {
  list-style-type: none;
  padding: 0px;
}

#post_list li {
  padding: 2px 0px;
  height: 100%;
  overflow: auto;
}

div.li_date {
  float: left;
}

div.li_title {
  float: left;
  font-weight: bold;
}

div.li_links {
  float: right;
  font-style: underline;
}
div.comments {
  float: right;
  margin-left: auto;
  font-weight: bold;
}

#pagination {
  text-align: right;
}
