<%= render @posts %>
<% page_num = @page+1 %>
<div id="pagination">
<% if @count > page_num*5 %>
  <%= link_to "Next Page", url_for(:page => page_num+1) %>
<% end %>
<% if @count > page_num*5 && page_num > 1 %>
  &nbsp;|&nbsp;
<% end %>
<% if page_num > 1 %>
  <%= link_to "Previous Page", url_for(:page => page_num-1) %>
<% end %>
</div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'linsblog'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>

