<div class="post">
  <div class="left">
    <div class="day">14</div>
    <div class="date">February<br />2011</div>
  </div>
  <div class="right">
    <h2 class="post_title"><a href="/#">First post</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacus velit, sollicitudin eget suscipit nec, dignissim eu lectus. Mauris tempor libero id mi laoreet auctor pellentesque neque vehicula. Vestibulum gravida libero eu nisi eleifend aliquam. Donec condimentum massa gravida urna dignissim ornare. Nunc ultrices, risus ut elementum aliquet, libero orci pellentesque risus, nec bibendum odio ante sit amet sapien. Ut odio ligula, dapibus quis cursus id, consequat in justo. Mauris suscipit, sem sit amet posuere porta, ligula lectus consequat nisl, congue semper nisi dui nec felis. Etiam imperdiet ultricies dui, tempor congue mi feugiat ultricies. Aliquam risus est, pulvinar sodales laoreet a, condimentum non nisl. Donec aliquam eleifend volutpat.</p>
    <p>Nulla nec dictum lectus. Vestibulum ut arcu nisi. Nulla condimentum hendrerit nisl ac fermentum. Aliquam dui urna, porta luctus feugiat condimentum, fringilla et diam. Etiam iaculis nulla quis diam suscipit et convallis nunc iaculis. Suspendisse libero nisl, blandit tincidunt ornare sit amet, tempor ac lectus. Ut nec ipsum vel diam vehicula ornare et nec enim. Phasellus suscipit enim eget urna rhoncus ultrices ac sit amet magna. Pellentesque nulla augue, tristique at rutrum eget, iaculis et augue. Duis eget nibh nec enim condimentum tempor ac vitae nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut ac justo nibh. Sed porttitor massa et justo porttitor quis mollis justo porta. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam nulla metus, euismod quis cursus id, sodales ut sem. Donec tincidunt velit sit amet erat commodo ullamcorper. Quisque dapibus massa ac ligula convallis porta.</p>
    <div class="post_footer">
      <ul class="tag">
        <li>Personal</li>
        <li>Cherrylet</li>
      </ul>
      <div class="comments"><%= link_to "0 Comments", '/#' %></div>
    </div>
  </div>
</div>
