<!DOCTYPE html>
<html>
  <head>
    <title>Exercise 1.1</title>
    <%= stylesheet_link_tag "style" %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div id="container">
      <h1 id="title">Exercise 1.1</h1>
      <%= yield %>
    </div>
    <footer>Best viewed with Google Chrome.</footer>
  </body>
</html>
